In [ ]:
# for loop
# while loop

In [ ]:
# for(i=0; i<5; i++)
# (


# )

In [ ]:
# range(5)0 1 2 3 4 
# range(1,5) 1 2 3 4
# range(1,10,2) 1 3 5 7 9

In [1]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [2]:
for i in range(1, 5):
    print(i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
for i in range(1, 10, 2):
    print(i, "Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [4]:
for i in range(10, -1 ,-1):
    print(i, "Hello World")

10 Hello World
9 Hello World
8 Hello World
7 Hello World
6 Hello World
5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [5]:
n = int(input("enter value of n ="))
for i in range(1, 11):
    print(n, "*", i, "=", i*n)

enter value of n =

ValueError: invalid literal for int() with base 10: ''

In [7]:
s=0
n = int(input("enter value of n ="))
for i in range(n):
    x = int(input("enter value of x = "))
    s= s+x
print(s)

enter value of n =2
enter value of x = 14
enter value of x = 24
38

In [ ]:
# a=int()
# b=float()
# c=str()

In [8]:
s= str()
n= int(input("enter value of n= "))
for i in range(n):
    x=input("enter name= ")
    s=s+x+"\n"
print(s)

enter value of n= 2
enter name= sam
enter name= ram
sam
ram