In [1]:
#string
a = 'hello world'
print(a)
print(type(a))

hello world
<class 'str'>

In [2]:
a = 'hello'
b = 'world'
c= a+b
print(c)

helloworld

In [3]:
a = 'hello world\n'
print(a*5)

hello world
hello world
hello world
hello world
hello world

In [5]:
a = 'Hello World'
print(a[4])

o

In [6]:
a = 'Hello World'
print(a[0:5])

Hello

In [7]:
a = 'Hello World'
print(a[0:10:1])

Hello Worl

In [8]:
a = 'Hello World'
print(a[0:10:2])

HloWr

In [10]:
a = 'Hello World'
print(a[0:10:4])

Hor

In [11]:
a = 'Hello World'
b = a[0:5]
c= a[5:]
print(b)
print(c)

Hello
 World

In [13]:
a = 'hello world'
l = len(a)
print(a[l::-1])

dlrow olleh

In [16]:
#to print from back 
a = 'hello world'
print(a[-1],a[2],a[-3])

d l r

In [17]:
#string formatting

In [24]:
name =input("enter name = ")
age = int(input('enter age = '))
add = input("enter address = ")

info = "Hello i am "+ name +". I am from " +add+', i am '+str(age)+'years old.'

print(info)

enter name = sandesh
enter age = 15
enter address = ktm
Hello i am sandesh. I am from ktm, i am 15years old.

In [26]:
s = str()
n = int(input('enter n = '))
for i in range(n):
    name = input("enter name = ")
    phone = int(input("enter phone number = "))
    info = f"{name} {phone}\n"
    s = s+info
    
print(s)

enter n = 2
enter name = sandesh
enter phone number = 986100000000
enter name = ram
enter phone number = 9860000000
sandesh 986100000000
ram 9860000000

In [29]:
a = "Ram Shyam Hari Sita Gita Nabin"
name = input("enter name = ")
if name in a:
    print('YESSSSSSSSSSSSSSSSSSSSSSSS')
    print(a.count(a))

enter name =Ram
YESSSSSSSSSSSSSSSSSSSSSSSS
1

In [30]:
a = "Ram Shyam Hari Sita Gita Nabin"
a.upper()

'RAM SHYAM HARI SITA GITA NABIN'

In [31]:
a = "Ram Shyam Hari Sita Gita Nabin"
a.lower()

'ram shyam hari sita gita nabin'

In [47]:
a = "Ram Shyam Hari Sita Gita Nabin".lower()
name = input("enter name = ").lower()
if name in a:
    print('YESSSSSSSSSSSSSSSSSSSSSSSS!!!!!')
    print(a.count(name))

enter name = a
YESSSSSSSSSSSSSSSSSSSSSSSS!!!!!
6

In [41]:
a = "Ram Shyam Hari Sita Gita Nabin"
a.title()

'Ram Shyam Hari Sita Gita Nabin'

In [42]:
a = "Ram Shyam Hari Sita Gita Nabin"
a = a.upper()
print(a)

RAM SHYAM HARI SITA GITA NABIN

In [50]:
a = "Ram Shyam Hari Sita Gita Nabin"
a = a.replace('Ram','Sandesh')
print(a)

Sandesh Shyam Hari Sita Gita Nabin