In [1]:
# # python collections
# list
# tuple
# dictionary
# set

In [2]:
# list
# -indexed
# -ordered
# -multiple and duplicate data
# -mutable

In [3]:
#list
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
l = len(a)
print(l)
print(a)
print(type(a))

5
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
<class 'list'>

In [4]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
print(a[2])

Cat

In [5]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
print(a[1])
print(a[0:3])
print(a[0:4:2])

Ball
['Apple', 'Ball', 'Cat']
['Apple', 'Cat']

In [6]:
# oredered
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
b = [1,2,3,4,5]
c = a + b 
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5]

In [7]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
b = [1,2,3,4,5]
c = b + a 
print(c)

[1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [14]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [8]:
#multiple and dupticate data
a = [1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2]
l = len(a)
l

12

In [9]:

a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
a[0] = "Sandesh"
a

['Sandesh', 'Ball', 'Cat', 'Dog', 'Fish']

In [11]:
l =[] # l = list()
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    l.append(x)
    
print(l)

enter n = 5
enter x = 25
enter x = 15
enter x = 188
enter x = 65
enter x = 25
[25, 15, 188, 65, 25]

In [ ]:
# can be used in max sum min

In [12]:
a = [25, 15, 188, 65, 25]
print(max(a))
print(min(a))
print(sum(a))

188
15
318

In [1]:
# sort() function
a = ["Apple", "zebra", "fish", "Ball", "golf"]
a.sort()
print(a)

['Apple', 'Ball', 'fish', 'golf', 'zebra']

In [4]:
a = ["Apple", "zebra", "fish", "Ball", "golf"]
for i in(a):
    print(i)

Apple
zebra
fish
Ball
golf

In [7]:
a = ["Apple", "zebra", "fish", "Ball", "golf"]
if "Apple" in a:
    print("yes")
    print(a.count("Apple"))

yes
1

In [8]:
# append()
# insert()
# extend()

In [10]:
#append()
a= []
a.append('apple')
print(a)

['apple']

In [12]:
#insert()
a = ["Apple", "zebra", "fish", "Ball", "golf"]
a.insert(1 , "Hello")
print(a)

['Apple', 'Hello', 'zebra', 'fish', 'Ball', 'golf']

In [13]:
#extend()
a = ["Apple", "zebra", "fish", "Ball", "golf"]
b = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
a.extend(b)
print(a)

['Apple', 'zebra', 'fish', 'Ball', 'golf', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [15]:
#remove()
# del 
# pop()

In [18]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
a.remove("Apple")
a

['Ball', 'Cat', 'Dog', 'Fish']

In [19]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
del a[0]
a

['Ball', 'Cat', 'Dog', 'Fish']

In [23]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
del a[0:3]
a

['Dog', 'Fish']

In [24]:
#index

a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
a.index("Apple")

0

In [26]:
a = ["Apple", "Ball", "Cat" ,"Dog","Fish"]
a.index("Dog")

3

In [31]:
a = ["Apple","Apple", "Ball", "Cat" , "Dog", "apple", "Ball", "Fish"]
l = a.count("Apple")
for i in range(l):
    if a[i] == "Apple":
        a.remove(a[i])
a

['Apple', 'Ball', 'Cat', 'Dog', 'apple', 'Ball', 'Fish']

In [33]:
b = []
a = ["Apple","Apple", "Ball", "Cat" , "Dog", "Apple", "Ball", "Fish"]
for i in a:
    if i != "Apple":
        b.append(i)
print(b)

['Ball', 'Cat', 'Dog', 'Ball', 'Fish']

In [2]:
#list inside list
#nested list

a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(len(a))

3

In [3]:
print(a[2])

[7, 8, 9]

In [4]:
a= [['sandesh',65,'Lubhu'],
   ['Ram', 82, 'Patan'],
   ['Hari',24, 'Ktm']]
a

[['sandesh', 65, 'Lubhu'], ['Ram', 82, 'Patan'], ['Hari', 24, 'Ktm']]

In [5]:
a[0][2]

'Lubhu'

In [6]:
a[0]

['sandesh', 65, 'Lubhu']

In [9]:
name = input('enter name =')
for i in a:
    if name in i:
        print(i)

enter name =Hari
['Hari', 24, 'Ktm']

In [18]:
info = []
n = int(input("enter n = "))
for i in range(n):
    name = input('enter name = ')
    age =  int(input("age = "))
    ads = input("enter address = ")
    
    data = [name,age,ads]
    info.append(data)
print(info)

enter n = 2
enter name = san
age = 12
enter address = kt,
enter name = gol
age = 2
enter address = ktm
[['san', 12, 'kt,'], ['gol', 2, 'ktm']]

In [20]:
a = [['sandesh', 65, 'Lubhu'], ['Ram', 82, 'Patan'], ['Hari', 24, 'Ktm']]
a[0][0] = 'Ram parsad'
a

[['Ram parsad', 65, 'Lubhu'], ['Ram', 82, 'Patan'], ['Hari', 24, 'Ktm']]

In [21]:
a = [['sandesh', 65, 'Lubhu'], ['Ram', 82, 'Patan'], ['Hari', 24, 'Ktm']]
a.append(['Ram',52,'BKT'])
a

[['sandesh', 65, 'Lubhu'],
 ['Ram', 82, 'Patan'],
 ['Hari', 24, 'Ktm'],
 ['Ram', 52, 'BKT']]

In [22]:
a = [['sandesh', 65, 'Lubhu'], ['Ram', 82, 'Patan'], ['Hari', 24, 'Ktm']]

name = input('enter name =')
for i in a:
    if name in i :
        a.remove(i)
a

enter name =sandesh

[['Ram', 82, 'Patan'], ['Hari', 24, 'Ktm']]