In [1]:
#dictionary

In [ ]:
# indexed
# ordered
# multiple data
# mutable

In [2]:
# a = {<key>:<value>,<key>:<value>}
a ={"a":"Apple","b":"Ball","c":"Cat"}
print(a)
print(type(a))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [4]:
print(a['a'])

Apple

In [5]:
print(a['b'])

Ball

In [7]:
a ={"a":"Apple","b":"Ball","c":"Cat"}
print(len(a))

3

In [8]:
a ={"a":"Apple","b":"Ball","c":"Cat"}
a['d'] = "Dog"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [9]:
a = {}
a['a']= 'Apple'
a['b']= 'Ball'
a['c']= 'Cat'
a['d']= 'Dog'
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [11]:
data = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = int(input('enter phone no ='))
    data[name] = phone

print(data)

enter n = 2
enter name = sam
enter phone no =6532668
enter name = rma
enter phone no =5555555
{'sam': 6532668, 'rma': 5555555}

In [12]:
a ={'ram':'9860012454', 'shyam':'9862554232'} 
a['ram'] = 986552254
a

{'ram': 986552254, 'shyam': '9862554232'}

In [13]:
a ={'ram':'9860012454', 'shyam':'9862554232'} 
for i in a.values():
    print(i)

9860012454
9862554232

In [14]:
a ={'ram':'9860012454', 'shyam':'9862554232'} 
for i in a.items():
    print(i)

('ram', '9860012454')
('shyam', '9862554232')

In [15]:
a ={'ram':'9860012454', 'shyam':'9862554232'} 
del a['ram']
a

{'shyam': '9862554232'}

In [16]:
a ={'ram':'9860012454', 'shyam':'9862554232'} 
b = a.pop('ram')

print(a)
print(b)

{'shyam': '9862554232'}
9860012454

In [17]:
#list inside dictionary
a ={'ram':[9860012454,986225458], 'shyam':[9862554232,954588555]} 
a

{'ram': [9860012454, 986225458], 'shyam': [9862554232, 254588555]}

In [19]:
info = {}
n = int(input("enter n = "))
for i in range(n):
    name = input('enter name = ')
    ntc_phone = input("enter ntc number = ") 
    ncell_phone = input("enter ncell number  = ")
    
    info[name] = [ntc_phone, ncell_phone]
    
print(info)

enter n = 2
enter name = rma
enter ntc number = 98600
enter ncell number  = 908633
enter name = sam
enter ntc number = 986222
enter ncell number  = 3265
{'rma': ['98600', '908633'], 'sam': ['986222', '3265']}

In [20]:
a = {'ram': [9860012454, 986225458], 'shyam': [9862554232, 254588555]}
a['ram'][0]

9860012454

In [21]:
a = {'ram': [9860012454, 986225458], 'shyam': [9862554232, 254588555]}
a['shyam'][0]

9862554232

In [22]:
a = {'ram': [9860012454, 986225458], 'shyam': [9862554232, 254588555]}
a['ram'].append(98622255245)
a

{'ram': [9860012454, 986225458, 98622255245], 'shyam': [9862554232, 254588555]}

In [24]:
a['hari'] = [98622225545,66598866]
a

{'ram': [9860012454, 986225458, 98622255245],
 'shyam': [9862554232, 254588555],
 'hari': [98622225545, 66598866]}

In [26]:
a = {'ntc': [9860012424, 98452155],
    'name' : ['ram' , 'shyam'],
    'ncell': [9862222,6695555 ] }

In [31]:
info = {'name':[],'ntc':[], 'ncell':[]}
n = int(input("enter n = "))
for i in range(n):
    name = input('enter name = ')
    ntc_phone = input("enter ntc number = ") 
    ncell_phone = input("enter ncell number  = ")
    
    info['name'].append(name)
    info['ntc'].append(ntc_phone)
    info['ncell'].append(ncell_phone)
    
print(info)

enter n = 2
enter name = ram
enter ntc number = 986222
enter ncell number  = 9865022
enter name = sam
enter ntc number = 225
enter ncell number  = 22225
{'name': ['ram', 'sam'], 'ntc': ['986222', '225'], 'ncell': ['9865022', '22225']}

In [34]:
info = [{'name':'ram','age':45,'add':'kathmandu'},
    {'name':'gita','age':42,'add':'kathmandu'},
    {'name':'sita','age':42,'add':'kathmandu'},
    {'name':'shyam','age':35,'add':'kathmandu'}]
info[0]

{'name': 'ram', 'age': 45, 'add': 'kathmandu'}

In [35]:
info[0]['name']

'ram'

In [37]:
info[0]['name'] = 'ram hari'
info

[{'name': 'ram hari', 'age': 45, 'add': 'kathmandu'},
 {'name': 'gita', 'age': 42, 'add': 'kathmandu'},
 {'name': 'sita', 'age': 42, 'add': 'kathmandu'},
 {'name': 'shyam', 'age': 35, 'add': 'kathmandu'}]

In [41]:
info = []
n = int(input('enter n = '))
for i in range(n):
    name = input("enter name = ")
    age = int(input("enter age = "))
    add = input("enter address = ")
    
    data = {'name':name,'age':age,'add':add}
    
    info.append(data)

print(info,'\n')

enter n = 2
enter name = sma
enter age = 2
enter address = ktm
enter name = dam
enter age = 3
enter address = patan
[{'name': 'sma', 'age': 2, 'add': 'ktm'}, {'name': 'dam', 'age': 3, 'add': 'patan'}] /n

In [1]:
# dictionary inside dictionary

In [2]:
# info = {1:{'name':'ram','age':45,'add':'kathmandu'},
#     2:{'name':'gita','age':42,'add':'kathmandu'},
#     3:{'name':'sita','age':42,'add':'kathmandu'},
#     4:{'name':'shyam','age':35,'add':'kathmandu'}}

In [3]:
info = {11122:{'name':'ram','age':45,'add':'kathmandu'},
        22221:{'name':'gita','age':42,'add':'kathmandu'},
        32231:{'name':'sita','age':42,'add':'kathmandu'},
        44431:{'name':'shyam','age':35,'add':'kathmandu'}}
print(info)

{11122: {'name': 'ram', 'age': 45, 'add': 'kathmandu'}, 22221: {'name': 'gita', 'age': 42, 'add': 'kathmandu'}, 32231: {'name': 'sita', 'age': 42, 'add': 'kathmandu'}, 44431: {'name': 'shyam', 'age': 35, 'add': 'kathmandu'}}

In [7]:
print(info[11122])

{'name': 'ram', 'age': 45, 'add': 'kathmandu'}

In [10]:
info[458255] = {'name':"hari",'age':24,'add':"ktm"}
print(info)

{11122: {'name': 'ram', 'age': 45, 'add': 'kathmandu'}, 22221: {'name': 'gita', 'age': 42, 'add': 'kathmandu'}, 32231: {'name': 'sita', 'age': 42, 'add': 'kathmandu'}, 44431: {'name': 'shyam', 'age': 35, 'add': 'kathmandu'}, 458255: {'name': 'hari', 'age': 24, 'add': 'ktm'}}