In [6]:
import random
n = int(input("enter number of rounds = "))
roll = 0

def dice():
    dice_roll = random.randint(1,6)
    return dice_roll

player1 = input('enter name of player 1 = ')
player2 = input('enter name of player 2 = ')
player1wins = 0
player2wins = 0

for i in range(n):
    roll = roll + 1
    print('ROUND: ',roll)
    
    p1 = dice()
    print(player1 , 'rolls :', p1)
    p2 = dice()
    print(player2 , 'rolls :', p2)
    
    if p1 == p2:
        print('DRAW!!', p1,'\n')
        
    elif p1 > p2:
        player1wins = player1wins + 1
        print(player1,'wins by ',p1)
        print(player1, "won round",player1wins,'\n')
        
    else:
        player2wins = player2wins + 1
        print(player2,"wins by ",p2)
        print(player2, "won round",player2wins,'\n')
        
if player1wins == player2wins:
    print("Well it's a DRAW dare to play again!!")
elif player1wins > player2wins:
    print(player1,"wins by ",player1wins,"rounds!!")
else:
    print(player2, 'wins by ', player2wins, "rounds!!")

enter number of rounds = 10
enter name of player 1 = ram
enter name of player 2 = sam
ROUND:  1
ram rolls : 5
sam rolls : 1
ram wins by  5
ram won round 1

ROUND:  2
ram rolls : 6
sam rolls : 6
DRAW!! 6

ROUND:  3
ram rolls : 3
sam rolls : 2
ram wins by  3
ram won round 2

ROUND:  4
ram rolls : 1
sam rolls : 2
sam wins by  2
sam won round 1

ROUND:  5
ram rolls : 3
sam rolls : 1
ram wins by  3
ram won round 3

ROUND:  6
ram rolls : 6
sam rolls : 1
ram wins by  6
ram won round 4

ROUND:  7
ram rolls : 6
sam rolls : 5
ram wins by  6
ram won round 5

ROUND:  8
ram rolls : 2
sam rolls : 4
sam wins by  4
sam won round 2

ROUND:  9
ram rolls : 3
sam rolls : 3
DRAW!! 3

ROUND:  10
ram rolls : 3
sam rolls : 5
sam wins by  5
sam won round 3

ram wins by  5 rounds!!

In [7]:
import random
anime = ['Naruto','One-piece','Dragon Ball z','Gintama','Hunter x Hunter','Welcome to Demon School: Iruma Kun',
        'Devil is a Part-timer','That Time I got reincarnated as a Slime','Jobless Reincarnation','My Hero Academiya',
        'Bleach','Inushya','Spy X Family']
a = random.choice(anime)
print(a)

Jobless Reincarnation

In [11]:
class A:
    def __init__(self):
        self.name = input('enter name = ')
        self.age  = int(input('enter age = '))
        self.add = input('enter address = ')
        self.sex = input('enter sex/gender = ')
class B(A):
    def info(self):
        print(f'Hello my name is {self.name}. I am {self.age} years old. I am {self.sex}, and i am from {self.add}.')
    
obj = B()
obj.info()

enter name = ram
enter age = 12
enter address = kathmandu
enter sex/gender = male
hello my name is ram. I am 12 years old. I am male, and i am from kathmandu

In [18]:
class A :
    def __init__(self,name,age,add):
        self.name = name
        self.age = age
        self.add = add
    
    def info(self):
        print(f'Hello, my name is {self.name}. I am {self.age} years old, and i am from {self.add}.')
    
obj = A('Ram',12,'kathmandu')
obj.info()

Hello, my name is Ram. I am 12 years old, and i am from kathmandu.

In [11]:
class A:
    def __init__ (self):
        self.name = input('enter name = ')
        self.age = int(input('enter age = '))
        
class B(A):
    def info(self):
        return f"hello my name is {self.name},and i am {self.age}"

obj =B()
obj.info()

enter name = ram
enter age = 12

'hello my name is ram,and i am 12'

In [2]:
class A:
    def __init__(self):
        self.name = input("enter name = ")
        self.age = int(input("enter age = "))
        self.add = input("enter address = ")
        self.sex = input("enter sex = ")
    
class B(A):
    def info(self):
        return f"Hello my name is {self.name},Im from {self.add}.I'm {self.sex} and im {self.age} years old."
    
obj = B()
obj.info()

enter name = Ram
enter age = 24
enter address = Kathmandu
enter sex = Male

"Hello my name is Ram,Im from Kathmandu.I'm Male and im 24 years old."

In [2]:
import pandas as pd
import csv 

a = pd.read_csv("data.csv")
a

   sn   Name  Age    Address       Phone
0   1  Shyam   34  kathmandu  9860000000
1   2   Hari   23  Bhaktapur   988880000
2   3  Sabin   28      Patan   986622222
3   4    Ram   37      Bihar  9866655525
4   5   Sita   25        Ktm   986222555
5   6  Nabin   48    Bhojpur   986555552

In [4]:
import pandas as pd
import csv 

a = pd.read_csv("data.csv",index_col="sn")
a

     Name  Age    Address       Phone
sn
1   Shyam   34  kathmandu  9860000000
2    Hari   23  Bhaktapur   988880000
3   Sabin   28      Patan   986622222
4     Ram   37      Bihar  9866655525
5    Sita   25        Ktm   986222555
6   Nabin   48    Bhojpur   986555552

In [8]:
import pandas as pd
import csv 

a = pd.read_csv("data.csv",index_col="sn")
a['Age'] == 23

sn
1    False
2     True
3    False
4    False
5    False
6    False
Name: Age, dtype: bool