In [1]:
# function inside function

In [4]:
def main():
    value = "hello world"
    def inner_function():
        print(value)
    return inner_function()
    
main()

hello world

In [5]:
value = "hello world"

def main():
    def inner_function():
        print(value)
    return inner_function()
    
main()

hello world

In [6]:
# Decorator

In [7]:
def outer_function(fun):
    
    def inner_function():
        x = fun()
        
    return inner_function()

@outer_function
def hello():
    print('Hello World')

Hello World

In [9]:
def string(function):
    def wrapper():
        fun = function()
        print(fun)
        x = fun.lower()
        return x
    return wrapper

@string
def info():
    return 'Hello World'
info()

Hello World

'hello world'

In [11]:
def hello(function):
    def world():
        x = function()
        y = x.upper()
        return y
    return world


@hello
def info():
    return 'Ram and Shyam'
info()

'RAM AND SHYAM'

In [13]:
#comprehension: list, dictionary

a =[]
for i in range(0,20+1):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
a = [i for i in range(0,20)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
a = [i for i in range(0,20) if i%2 == 0]
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
# syntax [ i for i in range(0,0) if {statement}]

In [17]:
a = [15,11154,7778,549,124,48721,1542,9897,25,364,154,78,25548,36654,98,28,2664,15]
[i for i in a if i%3 == 0]

[15, 11154, 549, 1542, 9897, 78, 25548, 36654, 2664, 15]

In [19]:
a = ['ram','apple','shyam','hari','sita','gold','golf','hen','ice']
b = [i for i in a if i[0]== 'g']
print(b)

['gold', 'golf']

In [20]:
a = {i: i**2 for i in range(1,10)}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [22]:
n = int(input('enter n = '))
a = {i: i**2 for i in range(1,n+1)}
a

enter n = 10

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [24]:
a = ['ram','apple','shyam','hari','sita','gold','golf','hen','ice']
d = {i: i.upper() for i in a}
d

{'ram': 'RAM',
 'apple': 'APPLE',
 'shyam': 'SHYAM',
 'hari': 'HARI',
 'sita': 'SITA',
 'gold': 'GOLD',
 'golf': 'GOLF',
 'hen': 'HEN',
 'ice': 'ICE'}

In [25]:
import datetime

x = datetime.datetime.now()

print(x)

2022-04-26 15:52:44.675315

In [28]:
import datetime

x = datetime.datetime.now()

print(x)
print(x.year)
print(x.month)
print(x.day)
print(x.strftime('%c'))

2022-04-26 15:54:57.879338
2022
4
26
Tue Apr 26 15:54:57 2022

In [33]:
import datetime

x = datetime.datetime.now()

a = ['ram','apple','shyam','hari','sita','gold','golf','hen','ice']
b = [i for i in a if i[0]== 'g']
print(b)

y = datetime.datetime.now()

print(y-x)

['gold', 'golf']
0:00:00.000999