In [1]:
# #Set
# no indexing
# multiple value
# unordered
# noduplicate member
# mutable
#no + * (operators)

In [2]:
a= {1,2,3,4,5,6}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [5]:
a = {"apple","van", "ball", 1,2,3,"xray"}
print(a)
a

{'apple', 1, 2, 3, 'van', 'ball', 'xray'}

{1, 2, 3, 'apple', 'ball', 'van', 'xray'}

In [6]:
a = {1,1,8,1,1,2,0,3,9,4,4,5,5,6,7,6,6,7,7,7}
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
a = set()
a.add("apple")
a.add('ball')
a

{'apple', 'ball'}

In [10]:
a = ['apple', 'ball','cat',1,2,3,4,'apple','ball']
list(set(a))

['apple', 1, 2, 3, 4, 'ball', 'cat']

In [12]:
a = {1,2,3,4,5,6,5,4,3,21,7,5,6,7,3,8,8}
b = {3,5,6,7,3,5,6,7,8}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 21}

In [13]:
a = {1,2,3,4,5,6,6,4,3,2,2,4,5,5,7,8,8,5}
a.remove(5)
print(a)

{1, 2, 3, 4, 6, 7, 8}

In [14]:
a = {1,2,3,4,5,6,6,4,3,2,2,4,5,5,7,8,8,5}
a.replace(3,'apple')
a

AttributeError: 'set' object has no attribute 'replace'

In [15]:
a = {[1,2,3],[4,5,6]}
a

TypeError: unhashable type: 'list'

In [16]:
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [17]:
a = {{1,2,3},{4,5,6}}
a

TypeError: unhashable type: 'set'

In [18]:
#union() #intersection() #difference()

In [27]:
u = {'alex','rem','jobs', 'sabin', 'bill', 'sabita', 'sita', 'ram', 'john', 'hari', 'shyam'}

apple = {'ram','shyam','hari','sita','sabin','jobs','sabin'}
ms = {'bill', 'sabita','hari','shyam','john','sita'}
common = apple.intersection(ms)
print(common)

al = apple.union(ms)
print(al)

o_apple = apple.difference(ms)
print(o_apple)
o_ms = ms.difference(apple)
print(o_ms)

u.difference(al)

{'hari', 'sita', 'shyam'}
{'jobs', 'sabin', 'bill', 'sabita', 'sita', 'ram', 'john', 'hari', 'shyam'}
{'sabin', 'ram', 'jobs'}
{'bill', 'sabita', 'john'}

{'alex', 'rem'}

In [ ]:
# incase of multiple company

# # apple.union(ms,ibm)

# # apple. interection(ms,ibm)