In [1]:
#tuple
# -indexed
# -ordered
# -multiple and duplicate data
# -imutable

In [5]:
a = tuple()
a = (1,2,3,4,5,6,7,8,9,)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [3]:
a = (1)
b = ("Apple")
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [4]:
a = (1,)
b = ("Apple",)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [7]:
# indexed
a =("Apple","Ball","Cat","Dog","Fish",)
print(a[0])
print(a[0:4])
print(a[0:4:2])

Apple
('Apple', 'Ball', 'Cat', 'Dog')
('Apple', 'Cat')

In [11]:
a =("Apple","Ball","Cat","Dog",)
b = ("Fish",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [12]:
a =("Apple","Ball","Cat","Dog",)
c = a*2
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [13]:
no append(), no insert(), no extend()
no update
no del remove() pop()

SyntaxError: invalid syntax (2287860414.py, line 1)

In [14]:
# no append(), no insert(), no extend()
# no update
# no del, no remove(), no pop()

In [15]:
t = tuple()
n = int(input("enter n = "))
for i in range(n):
    x = input('Enter x = ')
    t = t + (x,)
    
print(t)

enter n = 3
Enter x = ram
Enter x = shyam
Enter x = hari
('ram', 'shyam', 'hari')

In [16]:
def cal():
    a = 12
    v = 10
    return a,v

cal()

(12, 10)

In [17]:
a= 10,120,45
a

(10, 120, 45)

In [18]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = list(a)
b

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [20]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = list(a)
del b[0]
a = tuple(b)
a

('Ball', 'Cat', 'Dog', 'Fish')

In [21]:
# tuple inside tuple
# nested tuple

In [24]:
a = (('sandesh', 65, 'Lubhu'),
     ('Ram', 82, 'Patan'),
    ('Hari', 24, 'Ktm'),
     ('Ram', 52, 'BKT'))
a

(('sandesh', 65, 'Lubhu'),
 ('Ram', 82, 'Patan'),
 ('Hari', 24, 'Ktm'),
 ('Ram', 52, 'BKT'))

In [26]:
a = (('sandesh', 65, 'Lubhu'),
     ('Ram', 82, 'Patan'),
    ('Hari', 24, 'Ktm'),
     ('Ram', 52, 'BKT'))
b = (('Nabin', 25, 'chitwan'),)
print(a+b)

(('sandesh', 65, 'Lubhu'), ('Ram', 82, 'Patan'), ('Hari', 24, 'Ktm'), ('Ram', 52, 'BKT'), ('Nabin', 25, 'chitwan'))

In [27]:
#wap to determine tuple inside tuple

In [28]:
a = (('sandesh', 65, 'Lubhu'), ('Ram', 82, 'Patan'), ('Hari', 24, 'Ktm'), ('Ram', 52, 'BKT'), ('Nabin', 25, 'chitwan'))
b = list(a)
b

[('sandesh', 65, 'Lubhu'),
 ('Ram', 82, 'Patan'),
 ('Hari', 24, 'Ktm'),
 ('Ram', 52, 'BKT'),
 ('Nabin', 25, 'chitwan')]

In [29]:
del b[0]
b

[('Ram', 82, 'Patan'),
 ('Hari', 24, 'Ktm'),
 ('Ram', 52, 'BKT'),
 ('Nabin', 25, 'chitwan')]

In [31]:
b.append(('nisant', 45,'Ktm'),)
b

[('Ram', 82, 'Patan'),
 ('Hari', 24, 'Ktm'),
 ('Ram', 52, 'BKT'),
 ('Nabin', 25, 'chitwan'),
 ('nisant', 45, 'Ktm')]

In [ ]:
#wap to convet tuple to list inside list ###([])
#wap to perform CRUD list inside tuple