In [1]:
# # open (<file_name>,modes)
# -----modes-----
# creat => x
# read => r
# write => w
# append => a

In [4]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("file already there!")

file already there!

In [3]:
pwd

'C:\\Users\\ReeTeeSH\\Untitled Folder'

In [7]:
b = open('data.txt','r')
print(b.read())
b.close()

1.hello world
2.hello world
3.hello world
4.hello world
5.hello world
6.hello world
7.hello world
8.hello world
9.hello world
10.hello world

In [9]:
with open('data.txt','r') as b:
    print(b.read())

1.hello world
2.hello world
3.hello world
4.hello world
5.hello world
6.hello world
7.hello world
8.hello world
9.hello world
10.hello world

In [10]:
b = open('data.txt','r')
x = b.read()
print(type(x))
print(x)
b.close()

<class 'str'>
1.hello world
2.hello world
3.hello world
4.hello world
5.hello world
6.hello world
7.hello world
8.hello world
9.hello world
10.hello world

In [11]:
b = open('data.txt','r')
x = b.read().split('\n')
print(x)
b.close()

['1.hello world', '2.hello world', '3.hello world', '4.hello world', '5.hello world', '6.hello world', '7.hello world', '8.hello world', '9.hello world', '10.hello world', '']

In [13]:
line_no = int(input('enter line_no : '))
print(x[line_no - 1])

enter line_no : 5
5.hello world

In [14]:
b = open('data.txt','r')
print(b.read(20))
b.close()

1.hello world
2.hell

In [19]:
b = open('datas.txt', 'w')
b.write("Hello world, I am Python.")
b.close()

In [23]:
s = str()
n = int(input('enter n = '))
for i in range(n):
    name = input("enter name = ")
    phone = int(input("enter phone number = "))
    info = f"{name} {phone}\n"
    s = s+info
    
print(s)

b = open('dataas.txt', 'w')
b.write(s)
b.close()

enter n = 2
enter name = ram
enter phone number = 86000
enter name = sita
enter phone number = 98655
ram 86000
sita 98655

In [25]:
pwd

'C:\\Users\\ReeTeeSH\\Untitled Folder'

In [26]:
# csv = comma seperated value

In [27]:
s = str()
n = int(input('enter n = '))
for i in range(n):
    name = input("enter name = ")
    phone = int(input("enter phone number = "))
    info = f"{name},{phone}\n"
    s = s+info
    
print(s)

b = open('dataas.csv', 'w')
b.write(s)
b.close()

enter n = 2
enter name = ram
enter phone number = 986222555
enter name = sita
enter phone number = 986552554
ram,986222555
sita,986552554

In [29]:
s = str()
n = int(input('enter n = '))
for i in range(n):
    name = input("enter name = ")
    phone = int(input("enter phone number = "))
    info = f"{name},{phone}\n"
    s = s+info
    
print(s)

b = open('dataas.csv', 'w')
b.write("Name,Phone\n")
b.write(s)
b.close()

enter n = 3
enter name = ram
enter phone number = 986525415
enter name = sita
enter phone number = 986888887
enter name = shyam
enter phone number = 6659988525
ram,986525415
sita,986888887
shyam,6659988525

In [2]:
import pandas as pd
df = pd.read_csv('dataas.csv')
df

    name       phone
0    ram   986525415
1   sita   986888887
2  shyam  6659988525