In [9]:
num = int(input("enter a natural number = "))
#i = 2
while num<1 or num==0:
    print("Please enter a number greater than 1.")
    break
if num%2==0:
    #i = i+1
    print("the number is not prime number but composite number. ")
else:
    print("the num is prime number and not composite. ")

enter a natural number = 0
Please enter a number greater than 1.
the number is not prime number but composite number.

In [ ]:
num = int(input("enter a natural number : "))
a = 0
i = 2
if num<1 or num==0:
    print("The entered number must be greater than 1!!")
else:
    while a<num:
        if num%i==0:
            a = 1
            break
            i+=1
    if a==0:
        print("prime")
    else:
        print("composite")

enter a natural number : 15

In [2]:
a=0
i=2
num = int(input("enter a natural number : "))
if num<1 or num==0:
    print("The entered number must be greater than 1!!")
else:
    while i <= num:
        if num%2 == 0:
            a = 1
            break
            i += 1
        print(num, "prime") 
    else:
        print(num, "composite")

enter a natural number : 1
1 composite

In [1]:
num = int(input("enter a natural number : "))
n = 1
while (n<=num):
    count = 0
    i =2
    while(i <= n/2):
        if(n%i == 0):
            count += 1
            break
        i += 1
    if(count == 0 and n != 1):
        print("prime numbers are",n)
    n += 1

enter a natural number : 200
prime numbers are 2
prime numbers are 3
prime numbers are 5
prime numbers are 7
prime numbers are 11
prime numbers are 13
prime numbers are 17
prime numbers are 19
prime numbers are 23
prime numbers are 29
prime numbers are 31
prime numbers are 37
prime numbers are 41
prime numbers are 43
prime numbers are 47
prime numbers are 53
prime numbers are 59
prime numbers are 61
prime numbers are 67
prime numbers are 71
prime numbers are 73
prime numbers are 79
prime numbers are 83
prime numbers are 89
prime numbers are 97
prime numbers are 101
prime numbers are 103
prime numbers are 107
prime numbers are 109
prime numbers are 113
prime numbers are 127
prime numbers are 131
prime numbers are 137
prime numbers are 139
prime numbers are 149
prime numbers are 151
prime numbers are 157
prime numbers are 163
prime numbers are 167
prime numbers are 173
prime numbers are 179
prime numbers are 181
prime numbers are 191
prime numbers are 193
prime numbers are 197
prime numbers are 199

In [2]:
n = int(input('enter a natural number : '))
if n>2:
    for i in range(2, n):
        if n%i == 0:
            print(n, " is composite number. ")
            break
    else:
        print(n," is prime number.")
else:
    print("The value of n should be greater than 1")

enter a natural number : 199
199  is prime no

In [10]:
# write a program to create a calculator using return type function

In [1]:
def add(a, b):
    return a+b
def sub(a, b):
    return a-b
def mul(a, b):
    return a*b
def divd(a, b):
    return a/b

print("Please select an operation:")
print("1.ADD ")
print("2.SUBSTRACT ")
print("3.MULTIPLY ")
print("4.DIVIDE ")

while True:
    choice = input("Select opearation 1|2|3|4 =")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number = "))
        num2 = float(input("Enter second number = "))
        
        if choice == '1':
            print(num1, '+', num2, '=', num1+num2)
        elif choice == '2':
            print(num1, '-', num2, '=', num1-num2)
        elif choice == '3':
            print(num1, 'x', num2, '=', num1*num2)
        elif choice == '4':
            print(num1, '/', num2, '=', num1/num2)
        
        next_op = input('Do you want to continue next calculation ? yes/no : ')
        if next_op == 'no':
            break
    else:
        print("Invalid Entry!!")

Please select an operation:
1.ADD
2.SUBSTRACT
3.MULTIPLY
4.DIVIDE
Select opearation 1|2|3|4 =15
Invalid Entry!!
Select opearation 1|2|3|4 =1
Enter first number = 15
Enter second number = 65
15.0 + 65.0 = 80.0
Do you want to continue next calculation ? yes/no : no

In [13]:
def add(a,b):
    return a+b

def sub(a,b):
    return a-b

def mul(a,b):
    return a*b

def divd(a,b):
    return a/b

def numb():
    a = float(input("enter a : "))
    b = float(input("enter b : "))
    ope = input('enter +, -, *, / = ')
    
    if ope == "+":
        print(add(a, b))
    elif ope == "-":
        print(sub(a, b))
    elif ope == "*":
        print(mul(a, b))
    elif ope == "/":
        print(divd(a, b))
    else:
        print("invalide operation!!")
        
    x = input("do you want to continue next calculation :(yes / no) = ")
    if x != "no":
        numb()
        
numb()

enter a : 15
enter +, -, *, / = +
enter b : 15
30.0
do you want to continue next calculation :(yes / no) = no

In [ ]:
# #WAP to develope a billing application using string and loop
# name
# price
# quantity
# total
# grand total

In [6]:
s = str()
a = int(input('Enter number of people : '))
for i in range(a):
    name = input("Enter the name of customer : ")
    product = input('Enter tha name of product : ')
    price = float(input("Enter the price of product : "))
    quantity = float(input('Enter the quantity of products : '))
    
    total = float(price*quantity)
    grand_total = float(total+(total*0.13))
    
    info = f"{name} {product} {price} {quantity} {total} {grand_total}\n"
    s = s+info
    
print("The current bill is ", s)

Enter number of people : 1
Enter the name of customer : sandesh
Enter tha name of product : milk
Enter the price of product : 15
Enter the quantity of products : 2
The current bill is  sandesh milk 15.0 2.0 30.0 33.9

In [7]:
a = int(input('Enter number of people : '))

for i in range(a):
    name = input("Enter the name of customer : ").upper()
    product = input("Enter the product name : ").upper()
    price = float(input("Enter the price of product : "))
    quantity = float(input('Enter the quantity of products : '))
    
    total = float(price*quantity)
    grand_total = float(total+(total*0.13))
    
    print("Name : ", name.upper())
    print("Name of the product : ", product.upper())
    print("Price of product : ", price)
    print("Quantity of product : ", quantity)
    
    print("The total is ", total)
    print("And The grand total with 13% vat is", grand_total)

Enter number of people : 2
Enter the name of customer : samdensa
Enter the product name : ahjdah
Enter the price of product : 15
Enter the quantity of products : 25
Name :  SAMDENSA
Name of the product :  AHJDAH
Price of product :  15.0
Quantity of product :  25.0
The total is  375.0
And The grand total with 13% vat is 423.75
Enter the name of customer : sandehas
Enter the product name : mdiala
Enter the price of product : 15
Enter the quantity of products : 255
Name :  SANDEHAS
Name of the product :  MDIALA
Price of product :  15.0
Quantity of product :  255.0
The total is  3825.0
And The grand total with 13% vat is 4322.25

In [1]:
a = int(input("no of products = "))
for i in range(a):
    name = input("Enter the name of customer : ").upper()
    product = input("Enter the product name : ").upper()
    price = float(input("Enter the price of product : "))
    quantity = float(input('Enter the quantity of products : '))
        
    total = float(a*price)
    grand_total = float(total+(total*0.13))
    
print("Name : ", name.upper())
print("Name of the product : ", product.upper())
print("Price of product : ", price)
print("Quantity of product : ", quantity)

print("The total is ", total)
print("And The grand total with 13% vat is", grand_total)

no of products = 2
Enter the name of customer : sandesh
Enter the product name : milk
Enter the price of product : 25
Enter the quantity of products : 23
Enter the name of customer : sandesh
Enter the product name : soda
Enter the price of product : 45
Enter the quantity of products : 2
Name :  SANDESH
Name of the product :  SODA
Price of product :  45.0
Quantity of product :  2.0
The total is  90.0
And The grand total with 13% vat is 101.7

In [3]:
name = input("Enter the name of Customer : ").upper()

a = int(input("Enter the numbers of products  : "))
for i in range(0, a):
    if a > 1:
        product = input("Name of the product  : ").upper()
        amount = int(input("Amount of product : "))
    else:
        product =input("Name of the product  : ").upper()
        amount = int(input("Amount of product : "))
        
    price = int(input("price of the product : Rs."))
    
    total = float(amount*price)
    
    print("Total = Rs.",total)
    
    #grand_total =  
    
print("--------------RECEIPT---------------")
print("MR/MRS", name.upper())
print("Item =",product.upper(),'X',amount)
print(product.upper()," = RS.",price)
print("The total price of "+product+" is RS."+str(total))

Enter the name of Customer : sam
Enter the numbers of products  : 2
Name of the product  : milk
Amount of product : 5
price of the product : Rs.45
Total = Rs. 225.0
Name of the product  : sod
Amount of product : 5
price of the product : Rs.60
Total = Rs. 300.0
--------------RECEIPT---------------
MR/MRS SAM
Item = SOD X 5
SOD  = RS. 60
The total price of SOD is RS.300.0

In [18]:
name = input("Enter the name of Customer : ").upper()
tem = 0
s = str()

a = int(input("Enter the numbers of products  : "))
for i in range(0, a):
    if a > 1:
        product = input("Name of the product  : ").upper()
        amount = int(input("Quantity of product : "))
        price = float(input("price of the product : Rs."))
        total = float(amount*price)
        tem = tem + total
        
    else:
        product =input("Name of the product  : ").upper()
        amount = int(input("Quantity of product : "))
        price = float(input("price of the product : Rs."))
        total = float(amount*price) 
        tem = tem + total
        
    print("Total : Rs.",total)
    s = s + product+'\n'
    s.append()
    
grand_total = float(tem + (tem*0.13))

print("--------------RECEIPT----------------")
print("MR/MRS", name.upper())
print("-----------------Item---------------- \n")
print(s,"-----------Rs.",tem,'---------------\n')
print("The Total price is Rs.", tem)
print("The Grand Total with 13% vat is Rs.", grand_total)

Enter the name of Customer : sandesh thapa magar
Enter the numbers of products  : 5
Name of the product  : bread
Quantity of product : 1
price of the product : Rs.60
Total : Rs. 60.0
Name of the product  : shampoo
Quantity of product : 2
price of the product : Rs.254
Total : Rs. 508.0
Name of the product  : soda
Quantity of product : 2
price of the product : Rs.180
Total : Rs. 360.0
Name of the product  : fruits
Quantity of product : 5
price of the product : Rs.800
Total : Rs. 4000.0
Name of the product  : pasta
Quantity of product : 2
price of the product : Rs.90
Total : Rs. 180.0
--------------RECEIPT---------------
MR/MRS SANDESH THAPA MAGAR
-----------------Item----------------

BREAD
SHAMPOO
SODA
FRUITS
PASTA
 -----------Rs. 5108.0 ---------------

The total price is Rs. 5108.0
The grand total with 13% vat is Rs. 5772.04

In [ ]:
#WAP to detect index of same value..

In [8]:
b = ['Bakery','Bread','Meat','Seafood','Pasta','Rice','Oils',
     'Sauces','Salad Dressings','Condiments','Cereals','Breakfast Foods','Soups','Canned Goods',
     'Frozen FoodsDairy','Cheese','Eggs','Snacks','Crackers Produce','Drinks']
l = len(b)
print(b)
a = input("Enter the name you want to know index of: ")


if  a in b:
    print(a , 'is here!!')
    print(b.count(a))

print(l)
print("The index of", a, "is", b.index(a), ".")

['Bakery', 'Bread', 'Meat', 'Seafood', 'Pasta', 'Rice', 'Oils', 'Sauces', 'Salad Dressings', 'Condiments', 'Cereals', 'Breakfast Foods', 'Soups', 'Canned Goods', 'Frozen FoodsDairy', 'Cheese', 'Eggs', 'Snacks', 'Crackers Produce', 'Drinks']
Enter the name you want to know index of: Rice
Rice is here!!
1
20
The index of Rice is 5 .

In [16]:
a = ['apple', 'ball', 'cat', 'dog', 'hen', 'apple', 'cat', 'ball', 'dog', 'apple']
l = len(a)
for i in range(l):
    if a[i] == "apple":
        print(a[i], i)

apple 0
apple 5
apple 9

In [5]:
#wap to determine tuple inside tuple
t = tuple()
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name: ")
    age =int(input('enter age: '))
    add =input("enter address: ")
    
    data = (name,age,add,)
    t = t + (data,)
print(type(t), t)

enter n = 2
enter name: ram
enter age: 12
enter address: ktm
enter name: sita
enter age: 4
enter address: patan
<class 'tuple'> (('ram', 12, 'ktm'), ('sita', 4, 'patan'))

In [4]:
#[wap to creat a matrix by taking row and colum]
r = int(input("row = "))
c = int(input("column = "))

a = []
for i in range(r):
    l = []
    for j in range(c):
        m = int(input("Enter rows and columns: "))
        l.append(m)
    a.append(l)
    
print("The 2 dimensional Matrix is ",a)

row = 2
column = 2
Enter rows and columns: 15
Enter rows and columns: 16
Enter rows and columns: 48
Enter rows and columns: 98
The 2 dimensional Matrix is  [[15, 16], [48, 98]]

In [7]:
r = int(input("row = "))
c = int(input("column = "))

a = []
for i in range(r):
    l = []
    for j in range(c):
        m = int(input("Enter rows and columns: "))
        l.append(m)
    a.append(l)
    
print("The 3 dimensional matrix is :  ")
for i in range(r):
    for j in range(c): 
        print([a[i][j]], end="")
    print()

row = 2
column = 2
Enter rows and columns: 1
Enter rows and columns: 2
Enter rows and columns: 3
Enter rows and columns: 4
The 3 dimensional matrix is :
[1][2]
[3][4]

In [3]:
#wap to convet tuple to list inside list ###([])
t = tuple()
n = int(input("enter number of students = "))
for i in range(n):
    name = input("enter name: ")
    age =int(input('enter age: '))
    sex =input("enter sex: ")
    add =input("enter address: ")
    roll =int(input("enter rollno: "))
    
    data = (name,age,sex,add,roll,)
    t = t + (data,)
    
print("---------",type(t),'\n',t)

b = list(t)
print("---------",type(b),'\n',b)

t = tuple(b)
print("---------",type(t),'\n', t)

enter number of students = 2
enter name: ram
enter age: 12
enter sex: male
enter address: kmt
enter rollno: 12
enter name: sita
enter age: 14
enter sex: female
enter address: patan
enter rollno: 14
--------- <class 'tuple'>
 (('ram', 12, 'male', 'kmt', 12), ('sita', 14, 'female', 'patan', 14))
--------- <class 'list'>
 [('ram', 12, 'male', 'kmt', 12), ('sita', 14, 'female', 'patan', 14)]
--------- <class 'tuple'>
 (('ram', 12, 'male', 'kmt', 12), ('sita', 14, 'female', 'patan', 14))

In [4]:
#wap to perform CRUD list inside tuple
t = tuple()
c =  tuple()
n = int(input('enter n ='))
for i in range(n):
    #creating tuple
    name = input("enter name: ")
    age =int(input('enter age: '))
    add =input("enter address: ")
    
    data = (name,age,add,)
    t = t + (data,)
    print("Tuple created is --->", t)
    
    
    #changing tuple to list
    b = list(t)
    
    #append to updated list
    a = input("sex = ")
    c = c + (a,)
    b.append((c))
    print("Tuple Updated to-----------> ",type(b), b)
    
    #deleteing 0 index list 
    del b[0]
    
print("The tuple created is------>", t , b)    
print("The list after deleting b[0] is ------->",b)

enter n =2
enter name: ram
enter age: 12
enter address: ktm
Tuple created is ---> (('ram', 12, 'ktm'),)
sex = male
Tuple Updated to----------->  <class 'list'> [('ram', 12, 'ktm'), ('male',)]
enter name: sita
enter age: 14
enter address: ktm
Tuple created is ---> (('ram', 12, 'ktm'), ('sita', 14, 'ktm'))
sex = female
Tuple Updated to----------->  <class 'list'> [('ram', 12, 'ktm'), ('sita', 14, 'ktm'), ('male', 'female')]
The tuple created is------> (('ram', 12, 'ktm'), ('sita', 14, 'ktm')) [('sita', 14, 'ktm'), ('male', 'female')]
The list after deleting b[0] is -------> [('sita', 14, 'ktm'), ('male', 'female')]

In [1]:
#wap to create dictionary inside dictionary

In [4]:
info = []
n = int(input("enter n = "))
for i in range(n):
    name  = input("enter name  = ")
    age = int(input("enter age = "))
    add = input("enter address = ")
    
#     info['name'].append(name)
#     info['age'].append(age)
#     info['add'].append(add)
    
    data = {'name' : name, 'age' :age,'add':add}
    info.append(data)
    
    b
    
print(info)

enter n = 2
enter name  = ram
enter age = 14
enter address = ktm
enter name  = shyam
enter age = 2
enter address = ktm
[{'name': 'ram', 'age': 14, 'add': 'ktm'}, {'name': 'shyam', 'age': 2, 'add': 'ktm'}]

In [2]:
# wap to make a data entry  application using loop

In [11]:
food = []
while True:
    data = input('Enter your favourite foods: ')
    if str.lower(data) == 'q':
        break
    food.append(data)
for i in food:
    print('Your fav foods are: ',i)

Enter your favourite foods: milk
Enter your favourite foods: burger
Enter your favourite foods: cheese
Enter your favourite foods: fries
Enter your favourite foods: soda
Enter your favourite foods: q
Your fav foods are:  milk
Your fav foods are:  burger
Your fav foods are:  cheese
Your fav foods are:  fries
Your fav foods are:  soda

In [1]:
food = []
while True:
    data = input('Enter your favourite foods: ')
    if str.lower(data) == 'q':
        break
    food.append(data)

print('Your fav foods are: ',food)

Enter your favourite foods: milk
Enter your favourite foods: burger
Enter your favourite foods: soad
Enter your favourite foods: date
Enter your favourite foods: fries
Enter your favourite foods: q
Your fav foods are:  ['milk', 'burger', 'soad', 'date', 'fries']

In [ ]:
# wap to read and write data in using csv and pandas

In [2]:
import pandas as pd
import csv

data = [['Name','Age','Address'],
        ['Ram',25,'Kathmandu'],
       ['Shyam',28,'Patan'],
       ['Hari',24,'Bhaktapur']]

f = open('list_data.csv','w')
x = csv.writer(f)

for i in data:
    x.writerow(i)
    
f.close()
df = pd.read_csv("list_data.csv")
df

    Name  Age    Address
0    Ram   25  Kathmandu
1  Shyam   28      Patan
2   Hari   24  Bhaktapur

In [1]:
# wap to make a data entry  application using oop

In [ ]:
# [ram ,34]
# [shyam , 24]

# class A:
#     pass
# class B:
#     pass
# class C(A,B):
#     pass
# obj = c()

In [54]:
class A:
    def __init__(self,name):
        self.name = name
    def name(self):    
        return f'Input Names are = {self.name}'
    
class B:
    def __init__(self,age):
        self.age = age
    def age(self):
        return f'Input Ages are = {self.age}'

class C(A,B):
    def __init__(self,name,age):
        A.__init__(self,name)
        B.__init__(self,age)
        print(super().name())
        print(super().age())
        
    def info(self):
        print(f"name = {self.name}, age = {self.age}")
        
obj = C(['Ram',34],['shyam',24])
obj.info()

Input Names are = ['Ram', 34]
Input Ages are = ['shyam', 24]
name = ['Ram', 34], age = ['shyam', 24]